.main {
  border: 1px solid rgb(236, 236, 236);
  margin: 20px;
}

.main-spinner {
  border-left-color: #ca3317 !important;
}

.image-wrapper {

}

.info {

}

.loading, .error {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}